<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>artifactorysnapshots</id>
			<username>admin</username>
			<password>password</password>
		</server>
		<server>
			<id>artifactoryreleases</id>
			<username>admin</username>
			<password>password</password>
		</server>
		<server>
			<id>mygit</id>
			<username>__GIT_USER__</username>
			<password>__GIT_PASSWORD__</password>
		</server>
	</servers>
</settings>
